.gui-switch-navigation {
    .gui-nav-title {
        color: #ffffff !important;
    }
}

.gui-switch-navigation2 {
    .gui-nav-title {
        color: #ffffff !important;
    }
}

.gui-scroll-x-items {
    text {
        color: #ffffff !important;
    }
}

.gui-nav-title {
    color: #ffffff !important;
}