.gui-page-status-bar {
    background-color: #2b2e3d !important;
}

.gui-swiper-card-wrap .gui-indicator-dots .gui-indicator-dot {
    background-color: #eeede87c !important;
}

.gui-swiper-card-wrap .gui-indicator-dots .gui-indicator-dot.dot-show {
    background-color: #FFD700 !important;
}

.gui-switch-navigation .gui-nav-title {
    color: #ffffff !important;
}