.gui-switch-navigation {
    .gui-nav-title {
        color: #ffffff !important;
    }
}

.gui-switch-navigation2 {
    .gui-nav-title {
        color: #ffffff !important;
    }
}

.gui-scroll-x-items {
    text {
        color: #ffffff !important;
    }
}

.gui-nav-title {
    color: #ffffff !important;
}

.uni-popup .uni-dialog-button-group .uni-button-color {
  color: #FFD700
}

.gui-swiper-card-wrap {
    .gui-indicator-dot {
        background-color: rgba(255, 255, 255, 0.5) !important;
        &.dot-show {
            background-color: #FFD700 !important;
        }
    }
}